body {
    background-image: url("https://media.istockphoto.com/photos/triangular-abstract-background-picture-id624878906?k=6&m=624878906&s=612x612&w=0&h=uDcbe038RdtiiHchahAbwOYfx0bkPVLfsn0NOjA0gTM=");
    
}
.alert{
    font-weight: bold;
}

#randomNumber {
    margin-left: 30px;
    background-color: darkolivegreen;
    padding: 20px;
    border: 20px;
    margin: 10px, 20px;
    /* padding-left: 10px; */
}
.col-md-1 {
    margin-left: 30px;
}
.total-text{
    margin-top: 50px;
    margin-left: 40px;
    border: 20px;
    padding: 20px;
    background-color: green;
}
.totals{
    background-color: aquamarine;
    /* padding: 20px; */
    border: 20px;
    margin: 10px, 20px;
}
#total-score{
    padding: 40px;
    background-color: cornflowerblue;
    margin-left: 25px;
}
 
img {
    position: relative;
    float: left;
    width:  150px;
    height: 100px;
    margin-top: 30px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
